	@font-face {
    src: url('../fonts/OpenSans-Regular.ttf');
    font-family: 'Open Sans';
    font-weight: 400;
}

@font-face {
    src: url('../fonts/OpenSans-ExtraBold.ttf');
    font-family: 'Open Sans';
    font-weight: 800;
}



body {
	margin: 0;
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	font-style: normal;
	background-color: #e0e0e0;

}

.header {
	max-width: 1250px;
	min-height: 89px;
	margin: 30px auto;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000; 
}

.header-menu > a {
	color: #e0e0e0;
	padding: 38px 36px 36px 36px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.header-menu > a:hover {
	background-color: #ff3f40;
}

.view {
	width: 1249px;
	margin: 55px auto 111px auto;

	display: flex;
	justify-content: space-between;
}

.view-wrapper {
	margin-right: 70px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.view h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 72px;
	text-transform: uppercase;
	margin: 0 0 35px 0;
}

.view-text {
	width: 500px;
	margin-bottom: 58px;
}

.view-button {
	text-decoration: none;
    width: 230px;
    height: 58px;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: white;
    border-radius: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FE1616;
}

.view-button:hover {
	background-color: #FF6775
}

.view-img {
	display: flex;
	align-self: center;
}
