@media all and (max-width: 550px) {
  .menu-link {
		justify-content: space-around;
	}
}

@media all and (max-width: 200px) {
  .menu-link {
	flex-direction: column;
	}
}
 

@media all and (min-width: 576px) {
	.container {
  		margin: 0 auto;
  		justify-content: center;
	}
}

@media all and (min-width: 768px) {
  	.container {
		margin: 0 auto;
		justify-content: space-around;
	}
}

@media all and (min-width: 992px) {
  	.container {
		margin: 0 auto;
		justify-content: space-around;
	}
}

@media all and (min-width: 1200px) {
  	.container {
		margin: 0 auto;
		justify-content: space-between;
	}
}