body {
	font-size: 20px;
	color: rgb(23, 74, 151);
}

h1,
h2 {
    color: rgb(233, 175, 15);
}

/*p {
	display: inline-block;
	width: 60ch;
    font-size: 20px;
    color: rgb(94, 94, 94);
}*/

header {
	color: #000;
}

header a {
	display: inline-block;
	margin: 0 30px;
	color: inherit;
}

header a:nth-child(2){
	color: rgb(64, 216, 25);
}

.about-heading {
    color: rgb(240, 17, 17);
}
 
.important-text {
    color: #000;
    font-weight: 700;
}

.text{
	color: #000;
	font-weight: 700;
}



h2 + p {
	font-style: italic;
}

a:hover{
	color: rgb(231, 22, 22);
}

.items th,
.items td {
	border: 1px solid black;
}

.items {
    border-collapse: collapse;
}

.items tbody tr:nth-of-type(2n) { 
    background-color: rgb(252, 198, 128); 
}

.items th,
.items td {
    width: 300px;
    height: 50px;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.name-text {
	font-weight: bold;
}

.prof-text {
	color: rgb(201, 29, 29);
}

.city-text {
	font-style: italic;
}

p {
    display: inline-block;
    width: 60ch;
    font-size: 20px;
}

.items-wrapper{
	position: relative;
}

.item {
	display: inline-block;
	vertical-align: bottom;
	min-width: 300px;
	width: 33%;
	min-height: 200px;
	background-color: rgb(240, 152, 70);
}

.item {
	margin: 30px 50px;
}

.special {
	position: relative;
}

.item-name {
	display: block;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
}

.item-count {
	display: block;
	text-align: center;
	font-size: 25px;
}